footer{
    border-top: 1px solid var(--Primary-color);
    padding-top: 2.4em;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li a {
    text-decoration: none;
    color: #000000;
    display: inline-block;
}
footer li:hover a {
    color: var(--Primary-color);
}

.first-col > :first-child{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    color: var(--Primary-color);
}

/*icon*/
.footer-icon {
    color: var(--Primary-color);
    width: 1em;
    height: 1em;
    font-size: 1rem;
}

/*h4*/
.first-footer h4 {
    margin-bottom: .3em;
}