USE [master]
GO
/****** Object:  Database [K22CNT4-TTCD1-DinhTienLuc]    Script Date: 11/11/2024 3:59:30 PM ******/
CREATE DATABASE [K22CNT4-TTCD1-DinhTienLuc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'K22CNT4-TTCD1-DinhTienLuc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\K22CNT4-TTCD1-DinhTienLuc.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'K22CNT4-TTCD1-DinhTienLuc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\K22CNT4-TTCD1-DinhTienLuc_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [K22CNT4-TTCD1-DinhTienLuc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [K22CNT4-TTCD1-DinhTienLuc]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 11/11/2024 3:59:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdSach] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Quantity] [int] NOT NULL,
	[TotalPrice] [decimal](18, 0) NOT NULL,
	[SachImages] [nvarchar](500) NOT NULL,
	[TenSach] [nchar](110) NOT NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucSach]    Script Date: 11/11/2024 3:59:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucSach](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_DanhMucSach] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 11/11/2024 3:59:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](110) NOT NULL,
	[Phone] [nvarchar](10) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 11/11/2024 3:59:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[SachId] [int] NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 11/11/2024 3:59:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdDanhMuc] [int] NOT NULL,
	[Name] [nvarchar](110) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Images] [nvarchar](500) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Sach_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slide]    Script Date: 11/11/2024 3:59:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slide](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Images] [nvarchar](500) NULL,
 CONSTRAINT [PK_SlideTb] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/11/2024 3:59:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nchar](110) NOT NULL,
	[Password] [nchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
	[Role] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DanhMucSach] ON 

INSERT [dbo].[DanhMucSach] ([Id], [Name], [Status]) VALUES (1, N'Văn học hiện đại', 1)
INSERT [dbo].[DanhMucSach] ([Id], [Name], [Status]) VALUES (3, N'Tâm lý học', 1)
INSERT [dbo].[DanhMucSach] ([Id], [Name], [Status]) VALUES (4, N'Kinh tế', 1)
SET IDENTITY_INSERT [dbo].[DanhMucSach] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Id], [CustomerName], [Phone], [Address], [Email]) VALUES (1, N'Longs', N'0372657741', N'Hà nộis', N'Lasngiuen@gm.mails')
INSERT [dbo].[Order] ([Id], [CustomerName], [Phone], [Address], [Email]) VALUES (2, N'123', N'1234567890', N'123', N'123@gmai.com')
INSERT [dbo].[Order] ([Id], [CustomerName], [Phone], [Address], [Email]) VALUES (4, N'ANh Hieu suy tinh', N'0388146141', N'HieuKhekhec123', N'HieuKhekhec123@gmail.com')
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([Id], [OrderId], [SachId], [Price], [Quantity]) VALUES (1, 1, 3, CAST(250000 AS Decimal(18, 0)), 2)
INSERT [dbo].[OrderDetail] ([Id], [OrderId], [SachId], [Price], [Quantity]) VALUES (2, 2, 3, CAST(125000 AS Decimal(18, 0)), 2)
INSERT [dbo].[OrderDetail] ([Id], [OrderId], [SachId], [Price], [Quantity]) VALUES (3, 1, 10, CAST(6000000 AS Decimal(18, 0)), 30)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Sach] ON 

INSERT [dbo].[Sach] ([Id], [IdDanhMuc], [Name], [Quantity], [Price], [Description], [Images], [Status]) VALUES (1, 1, N'Walden', 1, CAST(1 AS Decimal(18, 0)), N'Walden', N'/Uploads/images/Walden.jpg', 1)
INSERT [dbo].[Sach] ([Id], [IdDanhMuc], [Name], [Quantity], [Price], [Description], [Images], [Status]) VALUES (2, 1, N'Bác sĩ Zhivago', 30, CAST(320000 AS Decimal(18, 0)), N'B&aacute;c sĩ Zhivago', N'/Uploads/images/BacSiZhivago.jpg', 1)
INSERT [dbo].[Sach] ([Id], [IdDanhMuc], [Name], [Quantity], [Price], [Description], [Images], [Status]) VALUES (3, 1, N'Kafka bên bờ biển', 15, CAST(125000 AS Decimal(18, 0)), N'Kafka b&ecirc;n bờ biển', N'/Uploads/images/KafkaBenBoBien.jpg', 1)
SET IDENTITY_INSERT [dbo].[Sach] OFF
GO
SET IDENTITY_INSERT [dbo].[Slide] ON 

INSERT [dbo].[Slide] ([Id], [Images]) VALUES (1, N'/Uploads/images/slide.jpg')
INSERT [dbo].[Slide] ([Id], [Images]) VALUES (2, N'https://bizweb.dktcdn.net/100/363/455/articles/website-a-nh-da-i-die-n-ba-i-vie-t-17.png?v=1714815417920')
INSERT [dbo].[Slide] ([Id], [Images]) VALUES (3, N'/Uploads/images/news.png')
SET IDENTITY_INSERT [dbo].[Slide] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Name], [Email], [Password], [Status], [Role]) VALUES (1005, N'Lực', N'Luc123@gmail.com                                                                                              ', N'123                                               ', 1, 1)
INSERT [dbo].[User] ([Id], [Name], [Email], [Password], [Status], [Role]) VALUES (1008, N'Đinh Tiến Long', N'l@m.com                                                                                                       ', N'123                                               ', 1, 0)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Role]  DEFAULT ((0)) FOR [Role]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Sach1] FOREIGN KEY([IdSach])
REFERENCES [dbo].[Sach] ([Id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Sach1]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_User1] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_User1]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Sach] FOREIGN KEY([SachId])
REFERENCES [dbo].[Sach] ([Id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Sach]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_DanhMucSach1] FOREIGN KEY([IdDanhMuc])
REFERENCES [dbo].[DanhMucSach] ([Id])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_DanhMucSach1]
GO
USE [master]
GO
