
@{ 
    var user = Session["User"] as K22CNT4_TTCD1_DinhTienLuc.Models.User;
}

<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex" style="padding-left: 8px">      
        <div class="info">
            @{
                if (user != null)
                {
                    <a href="#" class="d-block">
                        Người dùng: @user.Name
                    </a>
                }
                else
                {
                    <a href="#" class="d-block">
                        Người dùng: null
                    </a>
                }
            }

        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="/Admin/Danhmuc/" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Danh mục
                        @*<i class="right fas fa-angle-left"></i>*@
                    </p>
                </a>

            </li>
            <li class="nav-item">
                <a href="/Admin/SachAdmin" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Sách
                        @* <span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/Admin/User" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Quản lý người dùng
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/Admin/Slide" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Slide
                        @* <span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>

            @*Order*@
            <li class="nav-item menu-open">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-table"></i>
                    <p>
                        Thông tin đơn hàng
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>

                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Admin/Order" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Order</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/OrderDetails" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Order Details</p>
                        </a>
                    </li>

                </ul>

            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
