@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="first-section" style=" background-image: url(//bizweb.dktcdn.net/100/363/455/themes/918830/assets/background-banner.jpg?1724988401192); }">
        <div class="container">
            <div class="row">
                <div class="col-12 slider">
                    <div class="slide">
                        <img src="~/Content/Images/slide.jpg" alt="Photo1" />
                    </div>
                    <div class="slide">
                        <img src="~/Content/Images/slide.jpg" alt="Photo2" />
                    </div>
                    <div class="slide">
                        <img src="~/Content/Images/slide.jpg" alt="Photo3" />
                    </div>
                    <div class="slide">
                        <img src="~/Content/Images/slide.jpg" alt="Photo4" />
                    </div>
                </div>
                <div class="d-list col-md-12 col-lg-12 col-xl-4 col-12 r-col">
                    <div class="item">
                        <div class="d-none">

                        </div>
                        <article class="item_blog_base">
                            <a class="thumb " href="/khong-can-phai-la-nha-kinh-te-hoc-moi-doc-duoc-economix" title="KHÔNG CẦN PHẢI LÀ NHÀ KINH TẾ HỌC MỚI ĐỌC ĐƯỢC ECONOMIX">
                                <img width="196" height="125" src="https://bizweb.dktcdn.net/100/363/455/articles/website-nn-36.png?v=1715855676690" data-src="https://bizweb.dktcdn.net/100/363/455/articles/website-nn-36.png?v=1715855676690" alt="KHÔNG CẦN PHẢI LÀ NHÀ KINH TẾ HỌC MỚI ĐỌC ĐƯỢC ECONOMIX" class="lazyload img-responsive loaded" data-was-processed="true">
                            </a>
                            <div class="content_blog">
                                <h3><a href="/khong-can-phai-la-nha-kinh-te-hoc-moi-doc-duoc-economix" title="KHÔNG CẦN PHẢI LÀ NHÀ KINH TẾ HỌC MỚI ĐỌC ĐƯỢC ECONOMIX" class="a-title">KHÔNG CẦN PHẢI LÀ NHÀ KINH TẾ HỌC MỚI ĐỌC ĐƯỢC ECONOMIX</a></h3>
                                <span>
                                    Thứ Năm,
                                    16/05/2024
                                </span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <div class="d-none">

                        </div>
                        <article class="item_blog_base">
                            <a class="thumb " href="/bat-tre-dong-xanh-khong-phai-cu-hit-dau-tien-cua-salinger" title="“BẮT TRẺ ĐỒNG XANH” KHÔNG PHẢI “CÚ HIT” ĐẦU TIÊN CỦA SALINGER">
                                <img width="196" height="125" src="https://bizweb.dktcdn.net/100/363/455/articles/website-nn-34.png?v=1715854106820" data-src="https://bizweb.dktcdn.net/100/363/455/articles/website-nn-34.png?v=1715854106820" alt="“BẮT TRẺ ĐỒNG XANH” KHÔNG PHẢI “CÚ HIT” ĐẦU TIÊN CỦA SALINGER" class="lazyload img-responsive loaded" data-was-processed="true">
                            </a>
                            <div class="content_blog">
                                <h3><a href="/bat-tre-dong-xanh-khong-phai-cu-hit-dau-tien-cua-salinger" title="“BẮT TRẺ ĐỒNG XANH” KHÔNG PHẢI “CÚ HIT” ĐẦU TIÊN CỦA SALINGER" class="a-title">“BẮT TRẺ ĐỒNG XANH” KHÔNG PHẢI “CÚ HIT” ĐẦU TIÊN CỦA SALINGER</a></h3>
                                <span>
                                    Thứ Năm,
                                    16/05/2024
                                </span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <div class="d-none">

                        </div>
                        <article class="item_blog_base">
                            <a class="thumb " href="/ten-cua-doa-hong-kho-tang-kien-thuc-ve-triet-hoc-ly-luan-ton-giao-lich-su-an-sau-mot-cot-truyen-trinh-tham-day-thach-thuc" title="Tên của đoá hồng: Kho tàng kiến thức về triết học, lý luận, tôn giáo, lịch sử ẩn sau một cốt truyện trinh thám đầy thách thức">
                                <img width="196" height="125" src="https://bizweb.dktcdn.net/100/363/455/articles/website-a-nh-da-i-die-n-ba-i-vie-t-17.png?v=1714815417920" data-src="https://bizweb.dktcdn.net/100/363/455/articles/website-a-nh-da-i-die-n-ba-i-vie-t-17.png?v=1714815417920" alt="Tên của đoá hồng: Kho tàng kiến thức về triết học, lý luận, tôn giáo, lịch sử ẩn sau một cốt truyện trinh thám đầy thách thức" class="lazyload img-responsive loaded" data-was-processed="true">
                            </a>
                            <div class="content_blog">
                                <h3><a href="/ten-cua-doa-hong-kho-tang-kien-thuc-ve-triet-hoc-ly-luan-ton-giao-lich-su-an-sau-mot-cot-truyen-trinh-tham-day-thach-thuc" title="Tên của đoá hồng: Kho tàng kiến thức về triết học, lý luận, tôn giáo, lịch sử ẩn sau một cốt truyện trinh thám đầy thách thức" class="a-title">Tên của đoá hồng: Kho tàng kiến thức về triết học, lý luận, tôn giáo, lịch sử ẩn sau một cốt truyện trinh thám đầy thách thức</a></h3>
                                <span>
                                    Thứ Bảy,
                                    04/05/2024
                                </span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <div class="d-none">

                        </div>
                        <article class="item_blog_base">
                            <a class="thumb " href="/5-bi-quyet-duong-am-dat-gia-cham-soc-da-hieu-qua-ngay-trong-mua-dong" title="5 bí quyết dưỡng ẩm đắt giá - Chăm sóc da hiệu quả ngay trong mùa đông">
                                <img width="196" height="125" src="https://bizweb.dktcdn.net/100/363/455/articles/seo-2.png?v=1700487959943" data-src="https://bizweb.dktcdn.net/100/363/455/articles/seo-2.png?v=1700487959943" alt="5 bí quyết dưỡng ẩm đắt giá - Chăm sóc da hiệu quả ngay trong mùa đông" class="lazyload img-responsive loaded" data-was-processed="true">
                            </a>
                            <div class="content_blog">
                                <h3><a href="/5-bi-quyet-duong-am-dat-gia-cham-soc-da-hieu-qua-ngay-trong-mua-dong" title="5 bí quyết dưỡng ẩm đắt giá - Chăm sóc da hiệu quả ngay trong mùa đông" class="a-title">5 bí quyết dưỡng ẩm đắt giá - Chăm sóc da hiệu quả ngay trong mùa đông</a></h3>
                                <span>
                                    Thứ Hai,
                                    20/11/2023
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @* MIX BOOK SECTION *@
    <section class="mixBook-section">
        <div class="container">
            <div class="title-border">
                <h2 class="title-module">
                    <a href="#" title="Sách tổng hợp">Sách tổng hợp</a>
                </h2>
                <a class="link-more" title="xem thêm" href="sach-moi-xuat-ban">Xem thêm <i class="fa-solid fa-arrow-right fh4 mx-1"></i></a>
            </div>
            @*Book slider*@
            <div class="swiper">
                <div class="swiper-wrapper slide-wrap">

                    <div class="item_product_main swiper-slide">
                        <form action="#" method="post" class="variants">
                            <div class="thumb">
                                <a class="image_thumb" href="/mot-thu-nghiem-phe-binh" title="MỘT THỬ NGHIỆM PHÊ BÌNH">
                                    <img width="199" height="199" src="https://bizweb.dktcdn.net/100/363/455/products/mot-thu-nghiem-phe-binh-01.jpg?v=1727773033633">
                                </a>
                                <div class="action-cart">
                                    <button type="button" title="Thêm vào giỏ">
                                        <i class="fa-solid fa-cart-shopping fh4"></i>
                                    </button>
                                    <input type="hidden" name="variantId" value="125883119">
                                    <button class="btn-buy btn-left btn-views  btn-buy-now-grid" title="Mua ngay">
                                        Mua ngay
                                    </button>
                                </div>
                            </div>
                            <div class="info-product">
                                <h3 class="product-name"><a href="/mot-thu-nghiem-phe-binh-nha-nam" title="MỘT THỬ NGHIỆM PHÊ BÌNH">MỘT THỬ NGHIỆM PHÊ BÌNH</a></h3>

                                <div class="price-box">
                                    <span class="price">80.750₫</span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="item_product_main swiper-slide">
                        <form action="#" method="post" class="variants">
                            <div class="thumb">
                                <a class="image_thumb" href="/mot-thu-nghiem-phe-binh" title="MỘT THỬ NGHIỆM PHÊ BÌNH">
                                    <img width="199" height="199" src="https://bizweb.dktcdn.net/100/363/455/products/mot-thu-nghiem-phe-binh-01.jpg?v=1727773033633">
                                </a>
                                <div class="action-cart">
                                    <button type="button" title="Thêm vào giỏ">
                                        <i class="fa-solid fa-cart-shopping fh4"></i>
                                    </button>
                                    <input type="hidden" name="variantId" value="125883119">
                                    <button class="btn-buy btn-left btn-views  btn-buy-now-grid" title="Mua ngay">
                                        Mua ngay
                                    </button>
                                </div>
                            </div>
                            <div class="info-product">
                                <h3 class="product-name"><a href="/mot-thu-nghiem-phe-binh-nha-nam" title="MỘT THỬ NGHIỆM PHÊ BÌNH">MỘT THỬ NGHIỆM PHÊ BÌNH</a></h3>

                                <div class="price-box">
                                    <span class="price">80.750₫</span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="item_product_main swiper-slide">
                        <form action="#" method="post" class="variants">
                            <div class="thumb">
                                <a class="image_thumb" href="/mot-thu-nghiem-phe-binh" title="MỘT THỬ NGHIỆM PHÊ BÌNH">
                                    <img width="199" height="199" src="https://bizweb.dktcdn.net/100/363/455/products/mot-thu-nghiem-phe-binh-01.jpg?v=1727773033633">
                                </a>
                                <div class="action-cart">
                                    <button type="button" title="Thêm vào giỏ">
                                        <i class="fa-solid fa-cart-shopping fh4"></i>
                                    </button>
                                    <input type="hidden" name="variantId" value="125883119">
                                    <button class="btn-buy btn-left btn-views  btn-buy-now-grid" title="Mua ngay">
                                        Mua ngay
                                    </button>
                                </div>
                            </div>
                            <div class="info-product">
                                <h3 class="product-name"><a href="/mot-thu-nghiem-phe-binh-nha-nam" title="MỘT THỬ NGHIỆM PHÊ BÌNH">MỘT THỬ NGHIỆM PHÊ BÌNH</a></h3>

                                <div class="price-box">
                                    <span class="price">80.750₫</span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="item_product_main swiper-slide">
                        <form action="#" method="post" class="variants">
                            <div class="thumb">
                                <a class="image_thumb" href="/mot-thu-nghiem-phe-binh" title="MỘT THỬ NGHIỆM PHÊ BÌNH">
                                    <img width="199" height="199" src="https://bizweb.dktcdn.net/100/363/455/products/mot-thu-nghiem-phe-binh-01.jpg?v=1727773033633">
                                </a>
                                <div class="action-cart">
                                    <button type="button" title="Thêm vào giỏ">
                                        <i class="fa-solid fa-cart-shopping fh4"></i>
                                    </button>
                                    <input type="hidden" name="variantId" value="125883119">
                                    <button class="btn-buy btn-left btn-views  btn-buy-now-grid" title="Mua ngay">
                                        Mua ngay
                                    </button>
                                </div>
                            </div>
                            <div class="info-product">
                                <h3 class="product-name"><a href="/mot-thu-nghiem-phe-binh-nha-nam" title="MỘT THỬ NGHIỆM PHÊ BÌNH">MỘT THỬ NGHIỆM PHÊ BÌNH</a></h3>

                                <div class="price-box">
                                    <span class="price">80.750₫</span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="item_product_main swiper-slide">
                        <form action="#" method="post" class="variants">
                            <div class="thumb">
                                <a class="image_thumb" href="/mot-thu-nghiem-phe-binh" title="MỘT THỬ NGHIỆM PHÊ BÌNH">
                                    <img width="199" height="199" src="https://bizweb.dktcdn.net/100/363/455/products/mot-thu-nghiem-phe-binh-01.jpg?v=1727773033633">
                                </a>
                                <div class="action-cart">
                                    <button type="button" title="Thêm vào giỏ">
                                        <i class="fa-solid fa-cart-shopping fh4"></i>
                                    </button>
                                    <input type="hidden" name="variantId" value="125883119">
                                    <button class="btn-buy btn-left btn-views  btn-buy-now-grid" title="Mua ngay">
                                        Mua ngay
                                    </button>
                                </div>
                            </div>
                            <div class="info-product">
                                <h3 class="product-name"><a href="/mot-thu-nghiem-phe-binh-nha-nam" title="MỘT THỬ NGHIỆM PHÊ BÌNH">MỘT THỬ NGHIỆM PHÊ BÌNH</a></h3>

                                <div class="price-box">
                                    <span class="price">80.750₫</span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="item_product_main swiper-slide">
                        <form action="#" method="post" class="variants">
                            <div class="thumb">
                                <a class="image_thumb" href="/mot-thu-nghiem-phe-binh" title="MỘT THỬ NGHIỆM PHÊ BÌNH">
                                    <img width="199" height="199" src="https://bizweb.dktcdn.net/100/363/455/products/mot-thu-nghiem-phe-binh-01.jpg?v=1727773033633">
                                </a>
                                <div class="action-cart">
                                    <button type="button" title="Thêm vào giỏ">
                                        <i class="fa-solid fa-cart-shopping fh4"></i>
                                    </button>
                                    <input type="hidden" name="variantId" value="125883119">
                                    <button class="btn-buy btn-left btn-views  btn-buy-now-grid" title="Mua ngay">
                                        Mua ngay
                                    </button>
                                </div>
                            </div>
                            <div class="info-product">
                                <h3 class="product-name"><a href="/mot-thu-nghiem-phe-binh-nha-nam" title="MỘT THỬ NGHIỆM PHÊ BÌNH">MỘT THỬ NGHIỆM PHÊ BÌNH</a></h3>

                                <div class="price-box">
                                    <span class="price">80.750₫</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <button class="swiper-button-prev prev-btn"></button>
                <button class="swiper-button-next next-btn"></button>
            </div>
        </div>
    </section>
    @* NEW BOOK SECTION *@
    <section class="mixBook-section">
        <div class="container">
            <div class="title-border">
                <h2 class="title-module">
                    <a href="#" title="Sách tổng hợp">Sách mới</a>
                </h2>
                <a class="link-more" title="xem thêm" href="sach-moi-xuat-ban">Xem thêm <i class="fa-solid fa-arrow-right fh4 mx-1"></i></a>
            </div>
            @*Book slider*@
            <div class="swiper">
                <div class="swiper-wrapper slide-wrap">
                    <div class="item_product_main swiper-slide">
                        <form action="#" method="post" class="variants">
                            <div class="thumb">
                                <a class="image_thumb" href="/mot-thu-nghiem-phe-binh" title="MỘT THỬ NGHIỆM PHÊ BÌNH">
                                    <img width="199" height="199" src="https://bizweb.dktcdn.net/100/363/455/products/mot-thu-nghiem-phe-binh-01.jpg?v=1727773033633">
                                </a>
                                <div class="action-cart">
                                    <button type="button" title="Thêm vào giỏ">
                                        <i class="fa-solid fa-cart-shopping fh4"></i>
                                    </button>
                                    <input type="hidden" name="variantId" value="125883119">
                                    <button class="btn-buy btn-left btn-views  btn-buy-now-grid" title="Mua ngay">
                                        Mua ngay
                                    </button>
                                </div>
                            </div>
                            <div class="info-product">
                                <h3 class="product-name"><a href="/mot-thu-nghiem-phe-binh-nha-nam" title="MỘT THỬ NGHIỆM PHÊ BÌNH">MỘT THỬ NGHIỆM PHÊ BÌNH</a></h3>

                                <div class="price-box">
                                    <span class="price">80.750₫</span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="item_product_main swiper-slide">
                        <form action="#" method="post" class="variants">
                            <div class="thumb">
                                <a class="image_thumb" href="/mot-thu-nghiem-phe-binh" title="MỘT THỬ NGHIỆM PHÊ BÌNH">
                                    <img width="199" height="199" src="https://bizweb.dktcdn.net/100/363/455/products/mot-thu-nghiem-phe-binh-01.jpg?v=1727773033633">
                                </a>
                                <div class="action-cart">
                                    <button type="button" title="Thêm vào giỏ">
                                        <i class="fa-solid fa-cart-shopping fh4"></i>
                                    </button>
                                    <input type="hidden" name="variantId" value="125883119">
                                    <button class="btn-buy btn-left btn-views  btn-buy-now-grid" title="Mua ngay">
                                        Mua ngay
                                    </button>
                                </div>
                            </div>
                            <div class="info-product">
                                <h3 class="product-name"><a href="/mot-thu-nghiem-phe-binh-nha-nam" title="MỘT THỬ NGHIỆM PHÊ BÌNH">MỘT THỬ NGHIỆM PHÊ BÌNH</a></h3>

                                <div class="price-box">
                                    <span class="price">80.750₫</span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="item_product_main swiper-slide">
                        <form action="#" method="post" class="variants">
                            <div class="thumb">
                                <a class="image_thumb" href="/mot-thu-nghiem-phe-binh" title="MỘT THỬ NGHIỆM PHÊ BÌNH">
                                    <img width="199" height="199" src="https://bizweb.dktcdn.net/100/363/455/products/mot-thu-nghiem-phe-binh-01.jpg?v=1727773033633">
                                </a>
                                <div class="action-cart">
                                    <button type="button" title="Thêm vào giỏ">
                                        <i class="fa-solid fa-cart-shopping fh4"></i>
                                    </button>
                                    <input type="hidden" name="variantId" value="125883119">
                                    <button class="btn-buy btn-left btn-views  btn-buy-now-grid" title="Mua ngay">
                                        Mua ngay
                                    </button>
                                </div>
                            </div>
                            <div class="info-product">
                                <h3 class="product-name"><a href="/mot-thu-nghiem-phe-binh-nha-nam" title="MỘT THỬ NGHIỆM PHÊ BÌNH">MỘT THỬ NGHIỆM PHÊ BÌNH</a></h3>

                                <div class="price-box">
                                    <span class="price">80.750₫</span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="item_product_main swiper-slide">
                        <form action="#" method="post" class="variants">
                            <div class="thumb">
                                <a class="image_thumb" href="/mot-thu-nghiem-phe-binh" title="MỘT THỬ NGHIỆM PHÊ BÌNH">
                                    <img width="199" height="199" src="https://bizweb.dktcdn.net/100/363/455/products/mot-thu-nghiem-phe-binh-01.jpg?v=1727773033633">
                                </a>
                                <div class="action-cart">
                                    <button type="button" title="Thêm vào giỏ">
                                        <i class="fa-solid fa-cart-shopping fh4"></i>
                                    </button>
                                    <input type="hidden" name="variantId" value="125883119">
                                    <button class="btn-buy btn-left btn-views  btn-buy-now-grid" title="Mua ngay">
                                        Mua ngay
                                    </button>
                                </div>
                            </div>
                            <div class="info-product">
                                <h3 class="product-name"><a href="/mot-thu-nghiem-phe-binh-nha-nam" title="MỘT THỬ NGHIỆM PHÊ BÌNH">MỘT THỬ NGHIỆM PHÊ BÌNH</a></h3>

                                <div class="price-box">
                                    <span class="price">80.750₫</span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="item_product_main swiper-slide">
                        <form action="#" method="post" class="variants">
                            <div class="thumb">
                                <a class="image_thumb" href="/mot-thu-nghiem-phe-binh" title="MỘT THỬ NGHIỆM PHÊ BÌNH">
                                    <img width="199" height="199" src="https://bizweb.dktcdn.net/100/363/455/products/mot-thu-nghiem-phe-binh-01.jpg?v=1727773033633">
                                </a>
                                <div class="action-cart">
                                    <button type="button" title="Thêm vào giỏ">
                                        <i class="fa-solid fa-cart-shopping fh4"></i>
                                    </button>
                                    <input type="hidden" name="variantId" value="125883119">
                                    <button class="btn-buy btn-left btn-views  btn-buy-now-grid" title="Mua ngay">
                                        Mua ngay
                                    </button>
                                </div>
                            </div>
                            <div class="info-product">
                                <h3 class="product-name"><a href="/mot-thu-nghiem-phe-binh-nha-nam" title="MỘT THỬ NGHIỆM PHÊ BÌNH">MỘT THỬ NGHIỆM PHÊ BÌNH</a></h3>

                                <div class="price-box">
                                    <span class="price">80.750₫</span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="item_product_main swiper-slide">
                        <form action="#" method="post" class="variants">
                            <div class="thumb">
                                <a class="image_thumb" href="/mot-thu-nghiem-phe-binh" title="MỘT THỬ NGHIỆM PHÊ BÌNH">
                                    <img width="199" height="199" src="https://bizweb.dktcdn.net/100/363/455/products/mot-thu-nghiem-phe-binh-01.jpg?v=1727773033633">
                                </a>
                                <div class="action-cart">
                                    <button type="button" title="Thêm vào giỏ">
                                        <i class="fa-solid fa-cart-shopping fh4"></i>
                                    </button>
                                    <input type="hidden" name="variantId" value="125883119">
                                    <button class="btn-buy btn-left btn-views  btn-buy-now-grid" title="Mua ngay">
                                        Mua ngay
                                    </button>
                                </div>
                            </div>
                            <div class="info-product">
                                <h3 class="product-name"><a href="/mot-thu-nghiem-phe-binh-nha-nam" title="MỘT THỬ NGHIỆM PHÊ BÌNH">MỘT THỬ NGHIỆM PHÊ BÌNH</a></h3>

                                <div class="price-box">
                                    <span class="price">80.750₫</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <button class="swiper-button-prev prev-btn"></button>
                <button class="swiper-button-next next-btn"></button>
            </div>
        </div>
    </section>


</main>